<ion-view view-title="Emergency-Type">
  <ion-content class="padding">
    <ion-list>
      <div class="card">
        <div class="item-text-wrap">
          <a href="#" class="item item-icon-left">
            <i class="icon ion-ios-telephone"></i> <h2>Fire-Evacuation</h2>
            <p>Begin Emergency Procedure</p>
          </a>
        </div>
      </div>

      <div class="card">
        <div class="item-text-wrap">
          <a href="#" class="item item-icon-left">
            <i class="icon ion-ios-telephone"></i> <h2>Hazardous-Material</h2>
            <p>Begin Emergency Procedure</p>
          </a>
        </div>
      </div>

      <div class="card">
        <div class="item-text-wrap">
          <a href="#" class="item item-icon-left">
            <i class="icon ion-ios-telephone"></i> <h2>Bomb-Alert</h2>
            <p>Begin Emergency Procedure</p>
          </a>
        </div>
      </div>

      <div class="card">
        <div class="item-text-wrap">
          <a href="#" class="item item-icon-left">
            <i class="icon ion-ios-telephone"></i> <h2>Natural Disaster</h2>
            <p>Begin Emergency Procedure</p>
          </a>
        </div>
      </div>

      <div class="card">
        <div class="item-text-wrap">
          <a href="#" class="item item-icon-left">
            <i class="icon ion-ios-telephone"></i> <h2>Shelter-In-Place</h2>
            <p>Begin Emergency Procedure</p>
          </a>
        </div>
      </div>

      <div class="card">
        <div class="item-text-wrap">
          <a href="#" class="item item-icon-left">
            <i class="icon ion-ios-telephone"></i> <h2>Other Emergency</h2>
            <p>Begin Emergency Procedure</p>
          </a>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
